html {
	scroll-behavior: smooth;
}

body {
	background-color: linear-gradient(to left, #3a4450, #1e242c);
	color: var(--text-color);
    font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	max-width: 100%;
	position: relative;
}
