html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to left, #3a4450, #1e242c);
	color: var(--text-color);
    font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
	max-width: 100%;
	position: relative;
}

.root-wrapper {
	animation: opacity 0.3s ease-in forwards;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
